In [1]:
import pandas as pd
import math
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import random
from sklearn import linear_model
import datetime
import statsmodels.api as sm
from sklearn.naive_bayes import GaussianNB

train = pd.read_excel('salary_dat.xlsx')

train = train.drop(['DOL', 'DOJ', 'Designation', 'TestOrTrain', 'ID','JobCity'], axis =1)

KeyError: "['TestOrTrain'] not found in axis"

In [10]:
def yearReturn(x):
    return x.year

def mean1(col):
    sm = 0
    count = 0;

    for x in col:
	if x != -1:
		sm = sm + x;
		count = count + 1;

    mn = sm / count
    return mn;


def transformPresent(col, val):
    new = []

    for x in col:
	if x == 'present':
		new.append(val);	
	else:
		new.append(x);	
	
    return new;


def transform(col, val):
    new = []

    for x in col:
	if x == -1:
		new.append(val);	
	else:
		new.append(x);	
	
    return new;

In [11]:
val = mean1(train.ElectronicsAndSemicon)
train.ElectronicsAndSemicon = transform(train.ElectronicsAndSemicon, val);

val = mean1(train.ComputerProgramming)	    
train.ComputerProgramming = transform(train.ComputerProgramming, val);

val = mean1(train.ComputerScience)	    
train.ComputerScience = transform(train.ComputerScience, val);

val = mean1(train.MechanicalEngg)	    
train.MechanicalEngg = transform(train.MechanicalEngg, val);

val = mean1(train.ElectricalEngg)
train.ElectricalEngg = transform(train.ElectricalEngg, val);

val = mean1(train.TelecomEngg)
train.TelecomEngg = transform(train.TelecomEngg, val);

val = mean1(train.CivilEngg)
train.CivilEngg = transform(train.CivilEngg, val);

val = mean1(train.Domain)    
train.Domain = transform(train.Domain, val);

train['DOB'] = train.DOB.apply(yearReturn)

In [12]:
text_columns = []
for f in train.columns:
    if train[f].dtype=='object':
        text_columns.append(f)            
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(train[f].values))
        train[f] = lbl.transform(list(train[f].values))

train.shape

(3998, 33)

In [13]:
test = train.head(500)
train = train.tail(len(train) - 500)
train.head()

,Salary,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeID,CollegeTier,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
500,2600000,1,1989,86.6,0,2007,69.60,2,11467,2,...,405,406,433,350,349,0.3555,0.9688,0.0914,-0.87780,-0.7615
501,385000,0,1991,89.0,0,2008,94.16,2,3076,2,...,405,406,433,350,349,0.0464,1.3198,-0.4891,-1.11277,-0.2875
502,240000,1,1990,48.0,224,2008,51.40,284,8195,1,...,405,406,516,350,349,-0.5236,-1.1196,0.1637,0.01920,-1.0872
503,260000,1,1990,53.3,224,2007,68.40,284,4501,2,...,315,406,433,350,349,-1.0208,0.0459,-0.1437,1.41360,0.2889
504,460000,1,1990,86.0,119,2008,84.00,249,5284,2,...,405,406,433,350,349,1.1283,1.5928,1.3977,1.00240,-1.1169

In [14]:
target = train.Salary.values
test_target = test.Salary.values

train = train.drop(['Salary'], axis =1) 
test = test.drop(['Salary'], axis =1)

In [15]:
gnb = GaussianNB()
y_pred = gnb.fit(train, target).predict(test)

In [16]:
ans = math.sqrt(mean_squared_error(test_target, y_pred))
ans

589170.0942851733

In [19]:
gnb.get_params()

{'priors': None}

In [21]:
gnb.score(train,target)

0.073470554602630078