In [136]:
import pandas as pd
import math
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import random
from sklearn import linear_model
import datetime
import statsmodels.api as sm
from sklearn.naive_bayes import GaussianNB

train = pd.read_excel('train.xlsx')

train = train.drop(['DOL', 'DOJ', 'Designation', 'TestOrTrain', 'ID','JobCity'], axis =1)

In [137]:
def yearReturn(x):
    return x.year

def mean1(col):
    sm = 0
    count = 0;

    for x in col:
	if x != -1:
		sm = sm + x;
		count = count + 1;

    mn = sm / count
    return mn;


def transformPresent(col, val):
    new = []

    for x in col:
	if x == 'present':
		new.append(val);	
	else:
		new.append(x);	
	
    return new;


def transform(col, val):
    new = []

    for x in col:
	if x == -1:
		new.append(val);	
	else:
		new.append(x);	
	
    return new;

In [138]:
train.head()

,Salary,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeID,CollegeTier,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,420000,f,1990-02-19,84.3,"board ofsecondary education,ap",2007,95.8,"board of intermediate education,ap",1141,2,...,-1,-1,-1,-1,-1,0.9737,0.8128,0.5269,1.35490,-0.4455
1,500000,m,1989-10-04,85.4,cbse,2007,85.0,cbse,5807,2,...,-1,-1,-1,-1,-1,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,325000,f,1992-08-03,85.0,cbse,2010,68.2,cbse,64,2,...,-1,-1,-1,-1,-1,0.2718,1.7109,0.1637,-0.86820,0.6721
3,1100000,m,1989-12-05,85.6,cbse,2007,83.6,cbse,6920,1,...,-1,-1,-1,-1,-1,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,200000,m,1991-02-27,78.0,cbse,2008,76.8,cbse,11368,2,...,-1,-1,-1,-1,-1,-0.8810,-0.2793,-1.0697,0.09163,-0.1295

In [139]:
val = mean1(train.ElectronicsAndSemicon)
train.ElectronicsAndSemicon = transform(train.ElectronicsAndSemicon, val);

val = mean1(train.ComputerProgramming)	    
train.ComputerProgramming = transform(train.ComputerProgramming, val);

val = mean1(train.ComputerScience)	    
train.ComputerScience = transform(train.ComputerScience, val);

val = mean1(train.MechanicalEngg)	    
train.MechanicalEngg = transform(train.MechanicalEngg, val);

val = mean1(train.ElectricalEngg)
train.ElectricalEngg = transform(train.ElectricalEngg, val);

val = mean1(train.TelecomEngg)
train.TelecomEngg = transform(train.TelecomEngg, val);

val = mean1(train.CivilEngg)
train.CivilEngg = transform(train.CivilEngg, val);

val = mean1(train.Domain)    
train.Domain = transform(train.Domain, val);

train['DOB'] = train.DOB.apply(yearReturn)

In [140]:
train.head()

,Salary,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeID,CollegeTier,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,420000,f,1990,84.3,"board ofsecondary education,ap",2007,95.8,"board of intermediate education,ap",1141,2,...,405,406,433,350,349,0.9737,0.8128,0.5269,1.35490,-0.4455
1,500000,m,1989,85.4,cbse,2007,85.0,cbse,5807,2,...,405,406,433,350,349,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,325000,f,1992,85.0,cbse,2010,68.2,cbse,64,2,...,405,406,433,350,349,0.2718,1.7109,0.1637,-0.86820,0.6721
3,1100000,m,1989,85.6,cbse,2007,83.6,cbse,6920,1,...,405,406,433,350,349,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,200000,m,1991,78.0,cbse,2008,76.8,cbse,11368,2,...,405,406,433,350,349,-0.8810,-0.2793,-1.0697,0.09163,-0.1295

In [141]:
text_columns = []
for f in train.columns:
    if train[f].dtype=='object':
        text_columns.append(f)            
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(train[f].values))
        train[f] = lbl.transform(list(train[f].values))

train.shape

(3998, 33)

In [142]:
train.head()

,Salary,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeID,CollegeTier,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,420000,0,1990,84.3,43,2007,95.8,47,1141,2,...,405,406,433,350,349,0.9737,0.8128,0.5269,1.35490,-0.4455
1,500000,1,1989,85.4,60,2007,85.0,77,5807,2,...,405,406,433,350,349,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,325000,0,1992,85.0,60,2010,68.2,77,64,2,...,405,406,433,350,349,0.2718,1.7109,0.1637,-0.86820,0.6721
3,1100000,1,1989,85.6,60,2007,83.6,77,6920,1,...,405,406,433,350,349,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,200000,1,1991,78.0,60,2008,76.8,77,11368,2,...,405,406,433,350,349,-0.8810,-0.2793,-1.0697,0.09163,-0.1295

In [143]:
test = train.head(500)
train = train.tail(len(train) - 500)
train.head()

,Salary,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeID,CollegeTier,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
500,2600000,1,1989,86.6,0,2007,69.60,2,11467,2,...,405,406,433,350,349,0.3555,0.9688,0.0914,-0.87780,-0.7615
501,385000,0,1991,89.0,0,2008,94.16,2,3076,2,...,405,406,433,350,349,0.0464,1.3198,-0.4891,-1.11277,-0.2875
502,240000,1,1990,48.0,224,2008,51.40,284,8195,1,...,405,406,516,350,349,-0.5236,-1.1196,0.1637,0.01920,-1.0872
503,260000,1,1990,53.3,224,2007,68.40,284,4501,2,...,315,406,433,350,349,-1.0208,0.0459,-0.1437,1.41360,0.2889
504,460000,1,1990,86.0,119,2008,84.00,249,5284,2,...,405,406,433,350,349,1.1283,1.5928,1.3977,1.00240,-1.1169

In [144]:
target = train.Salary.values
test_target = test.Salary.values

train = train.drop(['Salary'], axis =1) 
test = test.drop(['Salary'], axis =1) 

#X1 = sm.add_constant(train)
est = sm.OLS(target, train).fit()

est.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.707
Model:                            OLS   Adj. R-squared:                  0.704
Method:                 Least Squares   F-statistic:                     269.7
Date:                Sat, 12 Nov 2016   Prob (F-statistic):               0.00
Time:                        23:48:38   Log-Likelihood:                -47731.
No. Observations:                3498   AIC:                         9.552e+04
Df Residuals:                    3467   BIC:                         9.572e+04
Df Model:                          31
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [95.0% Conf. Int.]
-----------------------------------------------------------------------------------------
Gender                 2.344e+04   8569.146      2.736      0.006      6641.248  4.02e+04
DOB                   -1614.0683   4120.180     -0.392      0.695     -9692.293  6464.156
10percentage           1026.8554    503.301      2.040      0.041        40.059  2013.652
10board                 -29.3935     74.174     -0.396      0.692      -174.822   116.035
12graduation           1677.4277   4082.639      0.411      0.681     -6327.192  9682.047
12percentage           1339.3910    439.811      3.045      0.002       477.076  2201.706
12board                -145.4374     57.351     -2.536      0.011      -257.883   -32.992
CollegeID                -1.7849      0.370     -4.827      0.000        -2.510    -1.060
CollegeTier           -7.756e+04   1.44e+04     -5.394      0.000     -1.06e+05 -4.94e+04
Degree                 1892.1081   5089.546      0.372      0.710     -8086.702  1.19e+04
Specialization         -326.2908    388.305     -0.840      0.401     -1087.620   435.039
collegeGPA             1445.4581    485.981      2.974      0.003       492.621  2398.296
CollegeCityID            -1.7849      0.370     -4.827      0.000        -2.510    -1.060
CollegeCityTier       -3707.2937   7782.596     -0.476      0.634      -1.9e+04  1.16e+04
CollegeState           -249.0300    510.321     -0.488      0.626     -1249.590   751.530
GraduationYear           26.2146    102.154      0.257      0.797      -174.073   226.502
English                  97.4728     40.016      2.436      0.015        19.015   175.931
Logical                  14.3830     50.846      0.283      0.777       -85.308   114.074
Quant                   129.9417     36.481      3.562      0.000        58.415   201.468
Domain                 8.856e+04   2.38e+04      3.726      0.000       4.2e+04  1.35e+05
ComputerProgramming      -0.7929     54.118     -0.015      0.988      -106.899   105.314
ElectronicsAndSemicon  -237.5658    106.039     -2.240      0.025      -445.471   -29.661
ComputerScience        -193.9371     97.006     -1.999      0.046      -384.132    -3.742
MechanicalEngg           23.5319    187.992      0.125      0.900      -345.054   392.118
ElectricalEngg          -56.3193    181.465     -0.310      0.756      -412.109   299.470
TelecomEngg              79.3495    149.787      0.530      0.596      -214.329   373.028
CivilEngg               -86.5340    448.986     -0.193      0.847      -966.838   793.770
conscientiousness     -1.818e+04   4201.071     -4.327      0.000     -2.64e+04 -9939.238
agreeableness          1.127e+04   5130.516      2.198      0.028      1215.176  2.13e+04
extraversion           4777.4977   4298.732      1.111      0.266     -3650.804  1.32e+04
nueroticism           -7305.6169   3761.148     -1.942      0.052     -1.47e+04    68.672
openess_to_experience -7335.5809   4510.288     -1.626      0.104     -1.62e+04  1507.508
==============================================================================
Omnibus:                     4761.808   Durbin-Watson:                   1.968
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1538389.041
Skew:                           7.627   Prob(JB):                         0.00
Kurtosis:                     104.599   Cond. No.                     2.25e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.45e-20. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [145]:
test.head()

,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeID,CollegeTier,Degree,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,0,1990,84.3,43,2007,95.8,47,1141,2,0,...,405,406,433,350,349,0.9737,0.8128,0.5269,1.35490,-0.4455
1,1,1989,85.4,60,2007,85.0,77,5807,2,0,...,405,406,433,350,349,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,0,1992,85.0,60,2010,68.2,77,64,2,0,...,405,406,433,350,349,0.2718,1.7109,0.1637,-0.86820,0.6721
3,1,1989,85.6,60,2007,83.6,77,6920,1,0,...,405,406,433,350,349,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,1,1991,78.0,60,2008,76.8,77,11368,2,0,...,405,406,433,350,349,-0.8810,-0.2793,-1.0697,0.09163,-0.1295

In [146]:
train.head()

,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeID,CollegeTier,Degree,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
500,1,1989,86.6,0,2007,69.60,2,11467,2,0,...,405,406,433,350,349,0.3555,0.9688,0.0914,-0.87780,-0.7615
501,0,1991,89.0,0,2008,94.16,2,3076,2,0,...,405,406,433,350,349,0.0464,1.3198,-0.4891,-1.11277,-0.2875
502,1,1990,48.0,224,2008,51.40,284,8195,1,0,...,405,406,516,350,349,-0.5236,-1.1196,0.1637,0.01920,-1.0872
503,1,1990,53.3,224,2007,68.40,284,4501,2,0,...,315,406,433,350,349,-1.0208,0.0459,-0.1437,1.41360,0.2889
504,1,1990,86.0,119,2008,84.00,249,5284,2,0,...,405,406,433,350,349,1.1283,1.5928,1.3977,1.00240,-1.1169

In [147]:
y_pred = est.predict(test)

In [148]:
ans = math.sqrt(mean_squared_error(test_target, y_pred))
ans

163987.0168176544